.comment-section {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.comment-date {
    font-size: 14px;
    color: grey;
}

.comment-card {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.2s;
}

.icon-circle {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: black;
    font-weight: bold;
}
