
<div class="bg-light-theme">
   <div class="container py-2">
      <footer class="d-flex flex-column flex-sm-row justify-content-between py-4 my-2">
         <span class="fw-normal text-primary-theme">BlazorForm, 2024.</span>
         <div class="d-flex gap-2 align-items-center">
            <CultureSelector></CultureSelector>
            <ThemeSelect></ThemeSelect>

         </div>
      </footer>
   </div>
</div>



@code {

}