@using BlazorForms.Data
@using Markdig
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@inject AuthenticationStateProvider AuthenticationState

<div class="card card-form">
   <div class="card-header pb-3 bg-white">
      <h2 class="py-2">@Title</h2>
      <div>
         @((MarkupString)RenderMarkdown(Description))
      </div>
      <hr>
      <span class="fw-bold fs-6 text-muted ">@(UserName ?? string.Empty)</span>
   </div>
</div>

@code {
   [Parameter] public string Title { get; set; } = string.Empty;
   [Parameter] public string Description { get; set; } = string.Empty;
   private string? UserName { get; set; }
   
   protected override async Task OnInitializedAsync()
   {
      var state = await AuthenticationState.GetAuthenticationStateAsync();
      if (state.User.Identity is { IsAuthenticated: true })
      {
         UserName = state.User.Identity.Name;
      }
   }

   private string RenderMarkdown(string? markdown) => markdown is null ? string.Empty : Markdown.ToHtml(markdown); 

}