<!DOCTYPE html>
<html lang="en" data-theme="">

<head>
   <meta charset="utf-8"/>
   <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
   <base href="/"/>
   <link rel="stylesheet" href="bootstrap/bootstrap.min.css"/>
   <link href="_content/Blazorise.Icons.FontAwesome/v6/css/all.min.css" rel="stylesheet">
   <link href="_content/Blazorise/blazorise.css" rel="stylesheet"/>
   <link href="_content/Blazorise.Bootstrap5/blazorise.bootstrap5.css" rel="stylesheet"/>
   <link rel="stylesheet" href="app.css"/>
   <link rel="stylesheet" href="BlazorForms.styles.css"/>
   <link rel="icon" type="image/png" href="favicon.png"/>
   <HeadOutlet @rendermode="RenderModeForPage"/>
</head>

<body>
   <Routes @rendermode="RenderModeForPage"/>
   <script src="_framework/blazor.web.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.13.0/Sortable.min.js"></script>
</body>

</html>

@code {
   [CascadingParameter] private HttpContext HttpContext { get; set; } = default!;

   private IComponentRenderMode? RenderModeForPage => HttpContext.Request.Path.StartsWithSegments("/Account")
      ? null
      : InteractiveServer;
}

<script>
    function changeTheme(theme) {
        document.documentElement.setAttribute('data-theme', theme);
    }
</script>